  <script src="../public/module/auth.js"></script>
<script src="../public/module/header.js"></script>
<script src="../public/module/login.js"></script>
<script src="../public/module/signup.js"></script>
</body>
</html>