<%= ERB.new(File.read('./public/header.html.erb')).result(binding) %>

<main>
  <h1>ジャンル登録</h1>
    <form action="/api/genres" method="post">
      <label for="name">ジャンル名</label>
      <input type="text" id="name" name="name" autocomplete="off">
      <br>
      <label for="category">カテゴリ名</label>
      <input type="text" id="category" name="category" autocomplete="off">
      <input type="submit" value="送信">
    </form>
    <a href="/sample">ジャンル一覧へ</a>
    <br>
    <a href="/login">ログイン</a>
</main>

<%= ERB.new(File.read('./public/footer.html.erb')).result(binding) %>
