.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner h2 {
  font-size: 350%;
  font-weight: 1%;
  font-family: 'Open Sans Hebrew Condensed';
  line-height: 150%;
  letter-spacing: 0.4em;
  position: absolute;
  color: white;
  left: 8%;
  top: 40%;
}

.top-container{
  margin: 0 5%;
  width: 90%;
}

.about {
  width: 90%;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  display: center;
  align-items: center;
  letter-spacing: 0.2em;
  color: #000000;
  margin: 5% auto;
  font-size: 250%;
  display: grid;
}

.about-title {
  font-size: 80%;
  margin: 1% auto;
}

.about-contents{
  font-size: 90%;
  margin: 2% auto; 
}

.about-content{
  font-size: 80%;
}

.can {
  display: grid;
}

.can-title {
  font-weight: 700;
  margin: 0 auto;
  font-family: 'Noto Sans JP';
  line-height: 180%;
  letter-spacing: 0.1em;
  font-size: 250%;
  margin: 2 auto 0.5% auto;
}  

.can-title-red {
  font-size: 80%;
  color: #E82401;
}

.can-title-black {
  font-size: 90%;
}

.can-card {
  width: 50%;
  /* height: 80%; */
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  background: #fff;
  /* padding: 1%; */
  padding-bottom: 2%;
  color: #333333;
  margin: 2% auto;
  font-size: 250%;
}

.can-card-title {
  text-align:center;
  margin: 5% auto;
}

.can-card-title::before,
.can-card-title::after {
  background-color: #333333;
  content: "";
  height: 3px;
  width: 40px;
  display: inline-block;
  margin : 0 0 1% 0;
}
.can-card-title::before {
  margin-right: 15px;
}
.can-card-title::after {
  margin-left: 15px;
}

.can-card-title-contents {
  font-size: 80%;
  font-weight: bold;
}

.can-card-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 180%;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  margin : 1% 3%;
  font-size: 100%;
}

.can-card-contents-image {
  width: 20%;
}

.can-card-contents-text{
  width: 60%;
  font-size: 60%;
  margin : 0 0 0 5%;
}

.find-contents{
  width: 80%;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  line-height: 100%;
  display: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  margin: 8% 0 0 0;
}

.find-content{
  font-size: 180%;
  margin: 0 0 3% 25%;
}

.find-register{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 5% 0;
  font-weight: bold;
  font-size: 150%;
}


.find-register-logo{
  width: 70px;
}

.find-register-url{
  color: #E82401;
  font-size: 100%;
  margin: 2% 0 0 0;
}

.find-images{
  width: 70%;
  margin: 0 auto 5% auto;
  text-align:center;
}

.find-image{
  border-color: black;
  width: 20%;
  height: 25%;
  margin: 1% 1%;
}